.mdl-table > table {
  color: #33334d;
  margin-bottom: 38px;
}
.mdl-table .mdl-data-table tbody > tr {
  height: 42px;
}
.mdl-table .mdl-data-table > tbody > tr > td {
  border-bottom: 0;
  height: 42px;
}
.mdl-table .mdl-data-table td,
.mdl-table .mdl-data-table th {
  padding: 7px 8px 4px 8px;
}
.mdl-table .mdl-data-table th {
  padding-bottom: 6px;
  line-height: 17px;
  color: rgba(41, 41, 61, 0.84);
}
.mdl-table .mdl-data-table .headerCollumns th:first-child.cbx,
.mdl-table .mdl-data-table .mdl-table_row td:first-child.cbx {
  padding-left: 12px;
}
.mdl-table .mdl-data-table .mdl-table_row.selected {
  background-color: #e0e0e0;
}
.mdl-table .mdl-data-table td.detail {
  padding-left: 6px;
}
.mdl-table-widthfill,
.mdl-table-widthfill > table {
  width: 100%;
}
.mdl-table .cardView .mdl-table_row_color > td {
  border-left: 6px solid;
}
.mdl-table .cardViewBodyNon.fixed-table-body {
  display: inline-block;
}
.mdl-table .mdl-table_cardView-loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  margin: -14px 0 0 -14px;
}
.mdl-table .mdl-table_cardView-loader.active {
  display: block;
}
.mdl-table .mdl-table-toolbar {
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.54);
  background-color: #b5c8fa;
  height: 44px;
  vertical-align: middle;
  padding: 0;
}
.mdl-table .mdl-table-toolbar > div {
  display: inline-block;
  vertical-align: middle;
}
.mdl-table .mdl-table-toolbar .mdl-table-toolbar-selectTitle {
  text-align: left;
  width: 50%;
  color: #1c1e5a;
}
.mdl-table .mdl-table-toolbar .mdl-table-toolbar-buttons {
  text-align: right;
  width: 50%;
}
.mdl-table .mdl-table-toolbar .mdl-table-toolbar-buttons > div {
  display: inline-block;
  margin-left: 4px;
}
.mdl-table .headerLoader {
  height: auto !important;
}
.mdl-table .headerLoader td {
  border: 0;
}
.mdl-table .mdl-table-loader {
  margin: 0 !important;
  padding: 0 !important;
  height: auto !important;
}
.mdl-table .mdl-table-loader .mdl-progress {
  width: 100%;
  position: absolute;
}
.mdl-table th.mdl-table-loader .mdl-progress {
  top: -4px;
}
.mdl-table .headerCollumns {
  background-color: #dbe1e5;
}
.mdl-table .headerTotals {
  background-color: #dbe1e5;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.mdl-table .headerTotals th {
  height: 35px;
}
.mdl-table table > thead > tr.headerButtons {
  height: auto;
}
.mdl-table table > thead > tr > th {
  vertical-align: middle;
  text-align: center;
  padding: 8px 7px;
}
.mdl-table table > thead > tr > th .filterControl tr,
.mdl-table table > thead > tr > th .filterControl tr td,
.mdl-table table > thead > tr > th .filterControl tr th {
  height: auto;
  line-height: 1;
}
.mdl-table table > thead > tr > th .filterControl span,
.mdl-table table > thead > tr > th .filterControl .mdl-textfield,
.mdl-table table > thead > tr > th .filterControl .mdl-selectfield,
.mdl-table table > thead > tr > th .filterControl input,
.mdl-table table > thead > tr > th .filterControl label,
.mdl-table table > thead > tr > th .filterControl select {
  width: auto;
}
.mdl-table table > thead > tr > th .filterControl span,
.mdl-table table > thead > tr > th .filterControl[type='input'] .mdl-textfield,
.mdl-table table > thead > tr > th .filterControl .mdl-selectfield,
.mdl-table table > thead > tr > th .filterControl input,
.mdl-table table > thead > tr > th .filterControl label,
.mdl-table table > thead > tr > th .filterControl select {
  font-size: 12px;
  font-weight: 600;
}
.mdl-table table > thead > tr > th .filterControl i {
  vertical-align: middle;
}
.mdl-table table > thead > tr > th .filterControl > * {
  display: inline-block;
}
.mdl-table table > thead > tr > th .filterControl .mdl-textfield,
.mdl-table table > thead > tr > th .filterControl .mdl-selectfield {
  font-weight: normal;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}
.mdl-table table > thead > tr > th .filterControl .mdl-textfield__label,
.mdl-table table > thead > tr > th .filterControl .mdl-selectfield__label {
  top: 4px;
}
.mdl-table table > thead > tr > th .filterControl .mdl-textfield__label:after,
.mdl-table table > thead > tr > th .filterControl .mdl-selectfield__label:after {
  bottom: 0;
}
.mdl-table table > thead > tr > th .filterControl .mdl-datefield input {
  max-width: 80px;
}
.mdl-table table > thead > tr > th .filterControl .mdl-menu__item {
  line-height: 35px;
  height: 35px;
}
.mdl-button--file input {
  cursor: pointer;
  height: 100%;
  right: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 300px;
  z-index: 4;
}
.mdl-textfield--file .mdl-textfield__input {
  box-sizing: border-box;
  width: calc(68%);
}
.mdl-textfield--file .mdl-button--file {
  right: 0;
}
.mdl-table table i.material-icons.plus:before {
  content: "\E145";
}
.mdl-table table i.material-icons.minus:before {
  content: "\E15B";
}
.mdl-table table > thead > tr > th.center,
.mdl-table table > tbody > tr > td.center {
  text-align: center;
}
.mdl-table table td.table_row_numbering {
  text-align: center;
}
.mdl-table table td.detail {
  padding-left: 0;
  padding-right: 0;
}
.mdl-table table > thead > tr > th .sortable:hover {
  cursor: pointer;
}
.mdl-table table > thead > tr > th .sortable > * {
  vertical-align: middle;
  line-height: 1;
  font-size: 12px;
}
.mdl-table table > thead > tr > th .sortable .firstWord {
  text-decoration: underline;
  font-weight: bold;
  font-size: 14px;
}
.mdl-table table > thead > tr > th .sortable i {
  opacity: 0;
}
.mdl-table table > thead > tr > th .sortable i:before {
  content: "\E5D8";
  font-size: 16px;
  font-weight: bold;
}
.mdl-table table > thead > tr > th .sortable.desc i:before {
  content: "\E5DB";
}
.mdl-table table > thead > tr > th:hover .sortable i {
  opacity: 1;
}
.mdl-table table > thead > tr > th .sortable.asc i,
.mdl-table table > thead > tr > th .sortable.desc i {
  opacity: 1;
}
.mdl-table table > thead > tr > th .filterControl[type="select"] {
  text-align: left;
}
.mdl-table table > thead > tr > th .columns .mdl-menu__container {
  margin: 5px 10px 5px 0;
}
.mdl-table table > thead > tr > th .columns .mdl-menu__item {
  height: auto;
  line-height: 1;
  padding: 7px 10px;
}
.mdl-table table > tbody > tr > td input {
  width: 100%;
  text-align: right;
  padding-right: 4px;
}
.mdl-table table > tbody > tr > td input:focus {
  outline-color: rgba(63, 81, 181, 0.85);
}
.mdl-table table > tbody > tr .btnsRow .btn {
  padding: 0;
  color: #52527a;
  display: inline-block;
}
.mdl-table table > tbody > tr.detail-subItem > td:first-child {
  border-top: 0;
}
.mdl-table table > tbody > tr.detail-view input {
  text-align: left;
}
.mdl-table table > tbody > tr.detail-view ul.mdl-list > li.mdl-list__item {
  padding: 0;
  min-height: 30px;
}
.mdl-table table > tbody > tr.detail-view > td {
  text-align: left;
}
.mdl-table table > tbody .card-view {
  text-align: left;
  float: left;
  width: 100%;
}
.mdl-table table.cardView > tbody > tr > td {
  padding: 10px 5px;
}
.mdl-table table > tbody .card-view.card-view-default > div {
  display: inline-block;
  padding: 0 10px;
}
.mdl-table table > tbody .card-view.full > div {
  display: block;
}
.mdl-table table > tbody .card-btns .btn {
  display: inline-block;
  padding: 0 3px;
}
.mdl-table table > tbody .card-view.width1 {
  width: 100%;
}
.mdl-table table > tbody .card-view.width2 {
  width: 50%;
}
.mdl-table table > tbody .card-view.width3 {
  width: 33%;
}
.mdl-table table > tbody .card-view.width4 {
  width: 25%;
}
.mdl-table table > tbody .card-view.width5 {
  width: 20%;
}
.mdl-table table > tbody .card-view-cbx {
  padding: 7px 0;
}
.mdl-table table > tbody .card-view .mdl-textfield {
  width: 100%;
}
.mdl-table table > tbody > tr > td span.moneySymbol {
  font-weight: bold;
}
.mdl-table .footerRow {
  background-color: #f0f0f5;
}
/*.mdl-table .footerRow.fixed {
	position: fixed;
	bottom: 17px;
	z-index: 3;
	margin-left: -1px;
	border: 1px solid rgba(0, 0, 0, 0.12);
}*/
/*@header_background_color: #333;
@header_text_color: #FDFDFD;
@alternate_row_background_color: #DDD;

@table_width: 750px;
@table_body_height: 300px;
@column_one_width: 200px;
@column_two_width: 200px;
@column_three_width: 350px;

.mdl-table table {
	table-layout: fixed;
	width: 100%;
}



thead {
	background-color: @header_background_color;
	color: @header_text_color;

	tr {
		display: block;
		position: relative;
	}
}

tbody {
	display: block;
	overflow: auto;
	width: 100%;
	height: @table_body_height;

	tr:nth-child(even) {
		background-color: @alternate_row_background_color;
	}
}*/
.mdl-table table.cardView {
  width: 100%;
  border: 0;
}
.mdl-table table.cardView .mdl-table-toolbar {
  background-color: transparent;
  border-top: 1px solid rgba(0, 0, 0, 0.27);
}
.mdl-table table.cardView .mdl-table_row > td {
  text-align: left;
}
.mdl-table table.cardView .mdl-table_row_cbx {
  vertical-align: middle;
}
.mdl-table table.cardView .mdl-table_row_panelCard {
  width: 100%;
}
.mdl-table table.cardView .mdl-table_row_panelCard span {
  word-wrap: break-word;
  white-space: normal;
}
.mdl-table table.cardView .mdl-table_row_panelCard span.material-icons {
  word-wrap: normal;
}
.mdl-table table.cardView.mdl-shadow--2dp {
  box-shadow: none;
}
.mdl-table table.cardView table tr,
.mdl-table table.cardView table td {
  height: auto;
}
.mdl-table table.cardView table td {
  border: 0;
  padding: 3px 6px;
  text-align: center;
  vertical-align: top;
}
.mdl-table table.cardView table td.firstColumn {
  color: #ff4081;
  font-weight: 700;
}
.mdl-table table.cardView table td.fieldText {
  color: #3f51b5;
  font-size: 12px;
  text-align: left;
  word-wrap: break-word;
  white-space: normal;
}
.mdl-table table.cardView table td.fieldValue {
  text-align: left;
  border: none;
  word-wrap: break-word;
  white-space: normal;
}
.mdl-table table.cardView table td.fieldValue input {
  text-align: left;
  width: auto;
}
.mdl-table table.cardView .mdl-textfield__input,
.mdl-table table.cardView .mdl-textfield__label {
  font-size: 12px;
}
.mdl-table table.cardView .mdl-textfield {
  padding: 16px 0 10px 0;
}
.mdl-table table.cardView .mdl-textfield__input {
  padding: 3px 0;
}
.mdl-table table.cardView .mdl-textfield__label {
  margin-top: -5px;
}
.mdl-table table.cardView .mdl-textfield--floating-label .mdl-textfield__label::after {
  bottom: 16px;
}
.mdl-table table.cardView textarea.mdl-textfield__input:focus {
  outline: none !important;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.mdl-table table.no-bordered {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
.mdl-table table.no-bordered td {
  border-bottom: 0;
}
.mdl-table__dialog .mdl-layout-title {
  font-size: 18px;
}
.mdl-table__dialog .mdl-dialog__form .field.width1 {
  display: inline-block;
  width: 100%;
}
.mdl-table__dialog .mdl-dialog__form .field.width2 {
  display: inline-block;
  width: 50%;
}
.mdl-table__dialog .mdl-dialog__form .field.width3 {
  display: inline-block;
  width: 33%;
}
.mdl-table__dialog .mdl-dialog__form .field.width4 {
  display: inline-block;
  width: 25%;
}
.mdl-table__dialog .mdl-dialog__form .field.width5 {
  display: inline-block;
  width: 20%;
}
.mdl-table__dialog .mdl-dialog__form .field.cbx {
  padding: 5px 0;
}
.mdl-table__dialog .mdl-dialog__form .field > div {
  width: 100%;
}
.mdl-table__dialog_detail .mdl-dialog__form {
  overflow-x: auto;
}