<page-info title="Залы" />

<script type="text/javascript">
	$(document).ready(function () {
		var $table = $('#table');
		$table.mdlTable();
		$table.mdlTable().data('mdl.table');
	});
</script>

<section class="content">
	<div class="cities">
		<table id="table" data-locale="ru-RU"
					 data-url="/admin/halls/TableHalls"
					 data-key="p_ID"
					 data-editable="true"
					 data-sort-name="p_Name"
					 data-filter-control="true" data-filter-submit="true"
					 data-show-add="true"
					 data-show-edit="true"
					 data-show-remove="true"
					 data-show-refresh="true">
			<thead>
				<tr>
					<th data-field="p_Name" data-val-required="true" data-max="70" data-sortable="true" data-filter-control="input">Название</th>
					<th data-field="p_Address" data-val-required="true">Адрес</th>
					<th data-field="p_RowsCountParquet" data-type="uint" data-align="center">Кол-во рядов<br />партера</th>
					<th data-field="p_RowNumbersCountParquet" data-type="uint" data-visible="false">Кол-во мест ряда<br />партера</th>
					<th data-field="p_RowsCountAmphitheater" data-type="uint" data-align="center">Кол-во рядов<br />амфитеатра</th>
					<th data-field="p_RowNumbersCountAmphitheater" data-type="uint" data-visible="false">Кол-во мест ряда<br />амфитеатра</th>
					<th data-field="p_RowsCountMezzanine" data-type="uint" data-align="center">Кол-во рядов<br />бельэтажа</th>
					<th data-field="p_RowNumbersCountMezzanine" data-type="uint" data-visible="false">Кол-во мест ряда<br />бельэтажа</th>
					<th data-field="p_RowsCountBalcony" data-type="uint" data-align="center">Кол-во рядов<br />болкона</th>
					<th data-field="p_RowNumbersCountBalcony" data-type="uint" data-visible="false">Кол-во мест ряда<br />болкона</th>
					<th data-field="p_RowsCountLodges" data-type="uint" data-align="center">Кол-во рядов<br />ложи</th>
					<th data-field="p_RowNumbersCountLodges" data-type="uint" data-visible="false">Кол-во мест ряда<br />ложи</th>
					<th data-field="p_Description">Описание</th>
				</tr>
			</thead>
		</table>
	</div>
</section>