<page-info title="Поставщики товаров" />
@inject RoleManager<Cl_Role> m_RoleManager
@{
	Cl_Role[] m_Roles = m_RoleManager.Roles.ToArray();
}

<script type="text/javascript">
	$(document).ready(function () {
		var $table = $('#table');
		$table.mdlTable().on('load-detail-view.mdl.table', function (e, a_Index, a_Row, $a_Content) {
			var tblHtml = '<table id="tableProviderRoles' + a_Index + '" class="tableProviderRoles" data-locale="ru-RU" data-url="/admin/providers/f_GetProviderRoles?a_ProviderID=' + a_Row.p_ID + '"';
			tblHtml += ' data-row-colors="{\'p_IsInit\':{\'true\':\'green\', \'false\':\'red\'}, \'p_IsEnabled\':{\'false\':\'gray\'}}" data-key="p_ProviderRoleID" data-sort-name="p_RoleName"';
			tblHtml += ' data-show-refresh="true" data-show-add="true" data-add-url="/admin/providers/f_CreateProviderRoles?a_ProviderID=' + a_Row.p_ID + '&a_ProviderName=' + a_Row.p_Name + '"';
			tblHtml += ' data-show-edit="true" data-edit-url="/admin/providers/f_UpdateProviderRoles?a_ProviderID=' + a_Row.p_ID + '&a_ProviderName=' + a_Row.p_Name + '"';
			tblHtml += ' data-show-remove="true" data-remove-url="/admin/providers/f_DeleteProviderRoles"';
			tblHtml += '></table>';
			var roles = [];
			@foreach (Cl_Role role in m_Roles) {
				<text>roles.push({ key: '@role.p_Name', value: '@role.p_Name' });</text>
			}
			var columns = [{ field: 'p_RolesNames', title: 'Роль' },
							{ field: 'p_Login', title: 'Логин' },
							{ field: 'p_Password', title: 'Пароль' },
							{ field: 'p_Token', title: 'Токен' },
							{ field: 'p_IsAnalog', title: 'Поиск<br />аналогов', type: 'bool' },
							{ field: 'p_MinProbabilityExist', title: 'Мин. вероятность<br />наличия', type: 'uint', min: '0', max: '100', width: '90px', valRegexMsg: 'Необходимо ввести целое число от 0 до 100!', valRegexPattern: '^\d{1,2}|100$' },
							{ field: 'p_Priority', title: 'Приоритет', type: "uint" },
							{ field: 'p_IsEnabled', title: 'Использование', type: "bool" }
			];
			var tableProducts$ = $(tblHtml).mdlTable({ columns: columns });
			$a_Content.prepend(tableProducts$);
		});
	});
</script>

<section class="content">
	<div class="providers">
		<table id="table" data-locale="ru-RU"
					 data-url="/Admin/Providers/f_GetProviders"
					 data-key="p_ID"
					 data-sort-name="p_Name"
					 data-show-add="true"
					 data-add-url="/Admin/Providers/f_CreateProvider"
					 data-show-edit="true"
					 data-edit-url="/Admin/Providers/f_UpdateProvider"
					 data-show-remove="true"
					 data-remove-url="/Admin/Providers/f_DeleteProvider"
					 data-show-columns="true"
					 data-show-refresh="true"
					 data-detail-view="true"
					 data-detail-view-title="Настройки">
			<thead>
				<tr>
					<th data-field="p_Name" data-card-template="[%p_Name%] ([%p_Host%])" data-switchable="false" data-sortable="true">Наименование</th>
					<th data-field="p_Host" data-card-visible="false" data-switchable="false" data-sortable="true">Хост</th>
					<th data-field="p_JurName" data-card-visible="false" data-switchable="false" data-sortable="true">Юридическое наименование</th>
					<th data-field="p_Priority" data-card-visible="false" data-align="center" data-type="uint">Приоритет</th>
					<th data-field="p_Description" data-card-widthfull="true" data-card-area="3" data-word-wrap="true">Описание</th>
				</tr>
			</thead>
		</table>
	</div>
</section>
