<page-info title="Промо-коды" />

<script type="text/javascript">
	$(document).ready(function () {
		var $table = $('#table');
		$table.mdlTable();
		$table.mdlTable().data('mdl.table');
	});
</script>

<section class="content">
	<div class="cities">
		<table id="table" data-locale="ru-RU"
					 data-url="/admin/PromoCodes/TablePromoCodes"
					 data-key="p_ID"
					 data-editable="true"
					 data-sort-name="p_DateEnd"
					 data-sort-order="desc"
					 data-filter-control="true" data-filter-submit="true" data-show-filter-clear="true"
					 data-show-add="true"
					 data-show-edit="true"
					 data-show-remove="true"
					 data-show-refresh="true">
			<thead>
				<tr>
					<th data-field="p_Name" data-val-required="true" data-max="70" data-sortable="true" data-filter-control="input">Название</th>
					<th data-field="p_DateStart" data-type="date" data-align="center" data-sortable="true" data-val-required="true">Начало действия</th>
					<th data-field="p_DateEnd" data-type="date" data-align="center" data-sortable="true" data-val-required="true">Конец действия</th>
					<th data-field="p_Code" data-max="50" data-val-required="true">Промо-код</th>
					<th data-field="p_Discount" data-type="number" data-step="0.00000000000001" data-max="100" data-align="center" data-val-required="true">Скидка</th>
					<th data-field="p_Description">Описание</th>
				</tr>
			</thead>
		</table>
	</div>
</section>