@model Cl_SettingsProductsGroupByCountDate
@Html.Cl_MVCTagPageInfo("Настройки результата поиска", "/ResultSearch/Index", "ResultSearch")

<script src="@Url.Content("~/js/jquery.ui.intervals.js")" type="text/javascript"></script>

<script type="text/javascript">
	$(document).ready(function () {
		var periodsDataServer = [];
		var intervals = new Intervals("#slidergroups", {
			min: 0,
			max: 30,
			step: 1,
			gap: 2,
			newlength: 3,
			ticks: {
				tickMain: 5,
				tickSide: 1,
				tickShowLabelMain: true,
				tickShowLabelSide: true
			},
			disabled: false
		});

		var period;
		@foreach (Cl_SettingsProductsGroupByCountDate.Cl_GroupByCountDate group in Model.p_GroupsByCountDate)
		{
			<text>
				period = new Object();
				period.p_MinCountDate = @group.p_MinCountDate;
				period.p_MaxCountDate = @group.p_MaxCountDate;
				periodsDataServer.push(period);
		</text>
		}
		f_SetPeriodsServer();

		function f_AddPeriod(period) {
			var $ctrl = $("<div class='value' periodid='" + period.getId() + "' start='" + period.getAbscissas()[0] + "' end='" + period.getAbscissas()[1] + "'>" + period.getAbscissas()[0] + " - " + period.getAbscissas()[1] + "</div>");
			var indexcol = 0;
			for (var i = 10; i <= 30; i += 10) {
				if (period.getAbscissas()[0] < i) {
					break;
				}
				indexcol++;
			}
			var $groupcol = $($(".resultSearch .groupsByCountDate .groups td")[indexcol]);
			var isadd = false;
			$('.value', $groupcol).each(function () {
				if (period.getAbscissas()[0] < parseInt($(this).attr('start'))) {
					$(this).before($ctrl);
					isadd = true;
					return false;
				}
			});
			if (!isadd) {
				$groupcol.append($ctrl);
			}
			return true;
		}

		function f_DeletePeriod(period) {
			$(".resultSearch .groupsByCountDate .groups").find('.value[periodid="' + period.getId() + '"]').remove();
		}

		function f_ClearPeriods() {
			intervals.empty();
			$(".resultSearch .groupsByCountDate .groups").find('.value').remove();
		}

		intervals.setAddPeriodConfirmCallback(function (period, callback) {
			callback(function () {
				return f_AddPeriod(period);
			}());
		});

		intervals.setDeletePeriodConfirmCallback(function (period, callback) {
			callback(function () {
				f_DeletePeriod(period);
				return true;
			}());
		});

		intervals.setOnHandleSlideChangeCallback(function (interval, period) {
			f_DeletePeriod(period);
			f_AddPeriod(period);
		});

		function f_SetPeriodsServer() {
			f_ClearPeriods();
			for (var i = 0; i < periodsDataServer.length; i++) {
				f_AddPeriod(intervals.addPeriod(periodsDataServer[i].p_MinCountDate, periodsDataServer[i].p_MaxCountDate - periodsDataServer[i].p_MinCountDate));
			}
		}

		function f_SaveSettingsGoodsGroupByCountDate() {
			var periods = intervals.getPeriods();
			var parameters = new Object();
			var periodsData = [];
			for (var i = 0; i < periods.length; i++) {
				var abscissas = periods[i].getAbscissas();
				var period = new Object();
				period.p_MinCountDate = abscissas[0];
				period.p_MaxCountDate = abscissas[1];
				periodsData.push(period);
			}
			parameters.a_GroupsByCountDate = periodsData;
			$('#lGroupsByCountDate').submit().show().css({ display: 'block' });
			var json = $.toJSON(parameters);
			$.ajax({
				type: "POST",
				url: "/ResultSearch/f_SaveSettingsGoodsGroupByCountDate",
				data: json,
				contentType: 'application/json; charset=utf-8',
				success: function (data, textStatus) {
					$('#lGroupsByCountDate').hide().css({ display: 'none' });
					periodsDataServer = periodsData;
				}
			});
		}

		$('#bGroupRestore').click(function () {
			f_SetPeriodsServer();
		});
		$('#bGroupSave').click(function () {
			f_SaveSettingsGoodsGroupByCountDate();
		});
	});
</script>

<div class="resultSearch">
	<fieldset>
		<legend class="ui-widget-header ui-corner-all">Настройка группировки по срокам поставки</legend>
		<div class="groupsByCountDate">
			<div class="slidergroups">
				<div id="slidergroups"></div>
			</div>
			<h4>Границы объединения товаров в группу:</h4>
			<table class="groups">
				<tr>
					<th>От 0 до 10 дней</th>
					<th>От 10 до 20 дней</th>
					<th>От 20 до 30 дней</th>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
			<input type="button" id="bGroupRestore" value="Вернуть" />
			<input type="button" id="bGroupSave" value="Сохранить" />
		</div>
	</fieldset>
</div>