body {
  text-align: center;
}
#hall {
  display: inline-block;
  width: 60%;
  min-width: 650px;
  text-align: left;
  font-size: 14px;
}
@media (max-width: 1200px) {
  #hall {
    width: 80%;
  }
}
@media (max-width: 1000px) {
  #hall {
    width: 90%;
    font-size: 12px;
  }
}
.hall_schema {
  width: 100%;
  table-layout: fixed;
}
.hall_legend {
  padding: 15px 0;
}
.hall_legend_item {
  display: inline-block;
  margin-right: 20px;
}
.hall_legend_item_img {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
.hall_legend_item_val {
  display: inline-block;
  vertical-align: middle;
}
.hall_schema_row_groupend .hall_schema_cell {
  padding-bottom: 30px;
}
.hall_schema_row .hall_schema_cell_content {
  margin: 3px;
  padding: 5px;
  text-align: center;
}
@media (max-width: 1000px) {
  .hall_schema_row .hall_schema_cell_content {
    margin: 2px;
    padding: 2px;
  }
}
.hall_schema_row .hall_schema_seat:hover {
  border-color: blue;
  cursor: pointer;
}
.hall_schema_row_header_sep {
  width: 20px;
}
.hall_schema_row .hall_schema_seat,
.hall_schema_row .hall_schema_scene {
  border: 2px solid #55635e;
}
.hall_schema_row_parquet .hall_schema_row_header,
.hall_schema_row_parquet .hall_schema_cell_content,
.hall_legend_item_parquet .hall_legend_item_img {
  background-color: #f2dc87;
}
.hall_schema_row_amphitheater .hall_schema_row_header,
.hall_schema_row_amphitheater .hall_schema_cell_content,
.hall_legend_item_amphitheater .hall_legend_item_img {
  background-color: #efbfef;
}
.hall_schema_row_mezzanine .hall_schema_row_header,
.hall_schema_row_mezzanine .hall_schema_cell_content,
.hall_legend_item_mezzanine .hall_legend_item_img {
  background-color: #ccb3ff;
}
.hall_schema_row_balcony .hall_schema_row_header,
.hall_schema_row_balcony .hall_schema_cell_content,
.hall_legend_item_balcony .hall_legend_item_img {
  background-color: #c0efdf;
}
.hall_schema_row_lodges .hall_schema_row_header,
.hall_schema_row_lodges .hall_schema_cell_content,
.hall_legend_item_lodges .hall_legend_item_img {
  background-color: #99e6ff;
}
.hall_schema_row .hall_schema_seat_booked {
  background-color: #ffad33;
}
.hall_schema_row .hall_schema_seat_purchased {
  background-color: #ff8080;
}
.hall_buttons {
  text-align: right;
}
.hall_schema_row .hall_schema_seat_select {
  background-color: rgba(0, 120, 201, 0.5);
}
/*.hall_schema_row_title {
	font-weight: bold;
	width: 80px;
}

.hall_schema_row_number {
	padding: 3pt 3pt;
	text-align: center;
	white-space: nowrap;
}

.hall_schema_row_number:hover {
	cursor: pointer;
	background-color: rgba(0, 255, 0, 0.2);
}

.hall_schema_row_number_val {
	padding: 5pt;
	background-image: url(../images/seat_free.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.hall_schema_row_number_booked .hall_schema_row_number_val {
	background-image: url(../images/seat_booked.svg);
}

.hall_schema_row_number_purchased .hall_schema_row_number_val {
	background-image: url(../images/seat_purchased.svg);
}*/