@using Microsoft.AspNetCore.Identity
@using Astick.Theatre.Entities

@inject SignInManager<Cl_User> SignInManager
@inject UserManager<Cl_User> UserManager

@if (SignInManager.IsSignedIn(User)) {
	Cl_User user = await UserManager.FindByNameAsync(User.Identity.Name);
	<form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Привет @user.p_Name!</a>
			</li>
			<li>
				<button type="submit" class="btn btn-link navbar-btn navbar-link">Выход</button>
			</li>
		</ul>
	</form>
} else {
	<ul class="nav navbar-nav navbar-right">
		@*<li><a asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a></li>*@
		<li><a asp-area="" asp-controller="Account" asp-action="Login">Вход</a></li>
	</ul>
}
