<page-info title="Офисы" />
@model Astick.Shop.Core.Offices.Cl_OfficeManager[]

<script type="text/javascript">
	var m_OfficesTable;
	var m_ColumnsManager = [{ field: 'p_Login', title: 'Логин', valRequired: 'true' },
								{ field: 'p_SurName', title: 'Фамилия', valRequired: 'true' },
								{ field: 'p_Name', title: 'Имя', valRequired: 'true' },
								{ field: 'p_LastName', title: 'Отчество', valRequired: 'true' },
								{ field: 'p_Email', title: 'Email', valRequired: 'true' },
								{ field: 'p_Mobile', title: 'Мобильный', type: "mobile", valRequired: 'true' }];
	var m_Cities;
	
	$(document).ready(function () {
		$.post("/admin/cities/tableCities", {sort: 'p_Name'}, function (data) {
			m_Cities = data.rows;
			var $table = $('#table');
			$table.mdlTable();
			m_OfficesTable = $table.mdlTable().data('mdl.table');
			$table.on('load-detail-view.mdl.table', function (e, a_Index, a_Row, $a_Content) {
				$.post("/admin/offices/f_GetOfficeManagers", { a_OfficeID: a_Row["p_ID"] }, function (data) {
					var tblHtml = '<table id="table' + a_Index + '" class="tableManagers" data-locale="ru-RU"	data-key="p_UserID" data-sort-name="p_SurName" data-refresh-action="f_TManagerRefresh(\'' + a_Row.p_ID + '\')"';
					tblHtml += ' data-show-add="true" data-add-dialog-content="f_GetCreateDialogContent(\'' + a_Row.p_ID + '\')" data-add-url="/admin/offices/f_AddOfficeManager"';
					tblHtml += ' data-remove-keys="p_Office.p_ID,p_UserID" data-show-remove="true" data-remove-url="/admin/offices/f_DeleteOfficeManager"';
					tblHtml += '></table>';
					var tableManagers$ = $(tblHtml).mdlTable({ columns: m_ColumnsManager, data: data.rows });
					$a_Content.prepend(tableManagers$);
				});
			});
		});
	});

	function f_TManagerRefresh(a_Table, a_OfficeID) {
		a_Table.f_ShowLoading();
		$.post("/admin/offices/f_GetOfficeManagers", { a_OfficeID: a_OfficeID }, function (data) {
			var lng = 0;
			if (data.rows !== null) {
				lng = data.rows.length;
			}
			a_Table.f_Load({ total: lng, rows: data.rows });
			a_Table.f_HideLoading();
		});
	}

	function f_GetCreateDialogContent(a_Table, a_OfficeID) {
		var textItems = '';
		@if (Model != null) {
				for (var i = 0; i < Model.Length; i++) {
					<text>textItems += '<li class="mdl-menu__item mdl-menu__item--full-bleed-divider" key="@Model[i].p_UserID">@Model[i].f_GetInitials()</li>';</text>
				}
		}
		var textContent = '<input field="a_OfficeID" type="hidden" value="' + a_OfficeID + '" />'
		textContent += ['<div class="manager_new">',
					'<div class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label" data-read-only="true">',
						'<input field="a_Manager" fieldKey="a_ManagerID" id="manager_new" class="mdl-selectfield__input" type="text" required />',
						'<label class="mdl-selectfield__label" for="manager_new">Менеджер</label>',
						'<ul for="manager_new">' + textItems + '</ul>',
					'</div>'].join('');
		return textContent;
	}
</script>

<section class="content">
	<a href="/admin/cities" target="_blank">Города</a>
	<div class="offices">
		<table id="table" data-locale="ru-RU"
					 data-url="/admin/offices/tableOffices"
					 data-key="p_ID"
					 data-editable="true"
					 data-sort-name="p_City.p_Name"
					 data-filter-control="true" data-filter-submit="true"
					 data-show-add="true"
					 data-show-edit="true"
					 data-show-remove="true"
					 data-show-review="true"
					 data-show-refresh="true"
					 data-show-columns="true"
					 data-detail-view="true"
					 data-detail-view-title="Управление статусами"
					 data-detail-view-icon="device_hub">
			<thead>
				<tr>
					<th data-field="p_Name" data-val-required="true" data-sortable="true">Название</th>
					<th data-field="p_Region" data-val-required="true" data-sortable="true">Регион</th>
					<th data-field="p_City.p_Name" data-val-required="true" data-type="select" data-select-field="p_CityID" data-select-data-type="var" data-select-data-value="m_Cities" data-select-key="p_ID" data-select-value="p_Name" data-filter-control="select" data-filter-field-key="p_CityID" data-sortable="true">Город</th>
					<th data-field="p_Address" data-val-required="true">Адрес</th>
					<th data-field="p_Telephones" data-type="array" data-class="text-nowrap" data-val-required="true">Телефоны</th>
					<th data-field="p_Emails" data-type="array" data-class="text-nowrap" data-val-required="true">Почты</th>
					<th data-field="p_Location" data-val-required="true" data-visible="false">Место нахождения</th>
					<th data-field="p_Schedule" data-val-required="true" data-visible="false">График работы</th>
					<th data-field="p_Color" data-type="color" data-align="center">Цвет</th>
					<th data-field="p_Enable" data-type="bool" data-align="center">Использование</th>
				</tr>
			</thead>
		</table>
	</div>
</section>