<a class="mdl-navigation__link" data-url="/admin/owner" onclick="f_GoLink('/admin/owner')"><i class="material-icons">location_city</i><span>Реквизиты</span></a>
<a class="mdl-navigation__link" data-url="/admin/users" onclick="f_GoLink('/admin/users')"><i class="material-icons">people</i><span>Пользователи</span></a>
<a class="mdl-navigation__link" data-url="/admin/roles" onclick="f_GoLink('/admin/roles')"><i class="material-icons">vpn_key</i><span>Роли</span></a>
<a class="mdl-navigation__link" data-url="/admin/offices" onclick="f_GoLink('/admin/offices')"><i class="material-icons">store_mall_directory</i><span>Офисы</span></a>
<div class="mdl-navigation__link mdl-navigation__dropdown-header js-dropdown" data-icon="redeem">Заказы</div>
<div class="mdl-navigation__dropdown">
	<a class="mdl-navigation__link" data-url="/admin/orders/modelstates" onclick="f_GoLink('/admin/orders/modelstates')"><i class="material-icons">device_hub</i><span>Модель состояний</span></a>
	<a class="mdl-navigation__link" data-url="/admin/prices" onclick="f_GoLink('/admin/prices')"><i class="material-icons">local_atm</i><span>Цены</span></a>
</div>
<a class="mdl-navigation__link" data-url="/admin/providers" onclick="f_GoLink('/admin/providers')"><i class="material-icons">local_shipping</i><span>Поставщики</span></a>
<a class="mdl-navigation__link" data-url="/admin/map" onclick="f_GoLink('/admin/map')"><i class="material-icons">device_hub</i><span>Карта сайта</span></a>