<page-info title="Роли" />

<script type="text/javascript">
	var m_RolesTable;
	$(document).ready(function () {
		var $table = $('#table');
		$table.mdlTable();
		m_RolesTable = $table.mdlTable().data('mdl.table');
	});
</script>

<section class="content">
	<div class="roles">
		<table id="table" data-locale="ru-RU"
					 data-url="/Admin/Roles/TableRoles"
					 data-key="Id"
					 data-editable="true"
					 data-sort-name="p_Name"
					 data-show-add="true"
					 data-add-url="/Admin/Roles/f_CreateRole"
					 data-show-edit="true"
					 data-edit-url="/Admin/Roles/f_UpdateRole"
					 data-show-remove="true"
					 data-remove-url="/Admin/Roles/f_DeleteRole"
					 data-remove-key="p_Name">
			<thead>
				<tr>
					<th data-field="p_Name" data-min="2" data-max="25" data-val-required="true">Роль</th>
					<th data-field="p_Description" data-val-required="true">Описание</th>
				</tr>
			</thead>
		</table>
	</div>
</section>