.skin-left_top-red {
  background-color: #ad2413 !important;
}
.skin-bg-red {
  background-color: #dd4b39 !important;
}
.skin-red .leftMenu_header {
  background-color: #ad2413 !important;
}
.skin-red .mdl-layout__header {
  background-color: #dd4b39 !important;
}