.skin-left_top-yellow {
  background-color: #ad7110 !important;
}
.skin-bg-yellow {
  background-color: #f39c12 !important;
}
.skin-yellow .leftMenu_header {
  background-color: #ad7110 !important;
}
.skin-yellow .mdl-layout__header {
  background-color: #f39c12 !important;
}