.skin-left_top-purple {
  background-color: #545096 !important;
}
.skin-bg-purple {
  background-color: #6f6bb9 !important;
}
.skin-purple .leftMenu_header {
  background-color: #545096 !important;
}
.skin-purple .mdl-layout__header {
  background-color: #6f6bb9 !important;
}