.skin-left_top-black {
  background-color: #333333 !important;
}
.skin-bg-black {
  background-color: #666 !important;
}
.skin-black .leftMenu_header {
  background-color: #333333 !important;
}
.skin-black .mdl-layout__header {
  background-color: #666 !important;
}