/* Bootstrap */
.bts,
.bts * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bts a {
  color: #337ab7;
  text-decoration: none;
}
.bts p {
  margin: 0 0 10px;
  line-height: 1;
}
.bts .text-success {
  color: #3c763d;
}
.bts .navbar-nav {
  float: left;
  margin: 0;
}
.bts .navbar-nav > li {
  float: left;
}
.bts .nav > li {
  position: relative;
  display: block;
}
.bts .nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.bts .img-circle {
  border-radius: 50%;
}
.bts .label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.item {
  cursor: pointer;
}
.skin-blue .item.active,
.skin-blue-light .item.active {
  background-color: #367fa9;
}
.skin-black .item.active,
.skin-black-light .item.active {
  background-color: #999999;
}
.skin-red .item.active,
.skin-red-light .item.active {
  background-color: #d73925;
}
.skin-yellow .item.active,
.skin-yellow-light .item.active {
  background-color: #e08e0b;
}
.skin-purple .item.active,
.skin-purple-light .item.active {
  background-color: #555299;
}
.skin-green .item.active,
.skin-green-light .item.active {
  background-color: #008d4c;
}
.skin-blue .item:hover,
.skin-blue-light .item:hover {
  background-color: #3c8dbc;
}
.skin-black .item:hover,
.skin-black-light .item:hover {
  background-color: #a5a4a4;
}
.skin-red .item:hover,
.skin-red-light .item:hover {
  background-color: #dd4b39;
}
.skin-yellow .item:hover,
.skin-yellow-light .item:hover {
  background-color: #f39c12;
}
.skin-purple .item:hover,
.skin-purple-light .item:hover {
  background-color: #605ca8;
}
.skin-green .item:hover,
.skin-green-light .item:hover {
  background-color: #00a65a;
}
.table > tbody > tr > td.center,
.table > tbody > tr > th.center {
  text-align: center;
}
.mdl-layout__header a {
  text-decoration: none;
  color: aqua;
}
.lMobileMain {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  margin: -14px 0 0 -14px;
}
.lMobileMain.active {
  display: block;
}
.lMobileMain .lfone {
  background: rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9989;
  text-align: center;
}
.arm_block {
  float: left;
}
.arm_block_content {
  border: solid 1px #e8e8e8;
  -webkit-box-shadow: 0 1px 1px 0 #b2aeae;
  -moz-box-shadow: 0 1px 1px 0 #b2aeae;
  box-shadow: 0 1px 1px 0 #b2aeae;
  margin: 9px;
}
.arm_block_content:hover {
  border: none;
  padding: 1px;
  box-shadow: 1px 1px 25px 0 #b2aeae;
  cursor: pointer;
}
.leftMenu.mdl-layout__drawer {
  border: none;
  width: 320px;
  -webkit-transform: translateX(-320px);
  -ms-transform: translateX(-320px);
  transform: translateX(-320px);
}
.leftMenu.mdl-layout__drawer.is-visible {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
.leftMenu_header {
  background: #3d4057 !important;
  color: #eee;
  padding: 10px;
  font-family: 'Roboto', 'Noto', sans-serif;
}
.leftMenu_header a {
  color: #b7b7b7;
}
.leftMenu_header .headerTop {
  display: table;
  width: 100%;
}
.leftMenu_header .headerTop > div {
  display: table-cell;
}
.leftMenu_header .headerTop > div:last-child {
  text-align: right;
  padding-right: 5px;
}
.leftMenu_header .headerMiddle {
  text-align: center;
  font-size: 20px;
  line-height: 28px;
  margin: 10px 0;
}
.leftMenu_header .headerBottom {
  margin: 0 10px;
}
.leftMenu_header .headerBottom .userOffice {
  margin-top: 10px;
}
.leftMenu .badge {
  margin-top: 1px;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background: #3d4057;
  float: right;
}
.leftMenu_header_manager > * {
  color: red;
}
.leftMenu_header_home {
  border-top: solid 1px #000;
  padding: 15px 20px 15px 0;
  text-align: right;
}
#bRightMenu {
  margin-left: 10px;
}
.rightMenu {
  width: 230px;
}
.rightMenu .mdl-tabs__panel {
  color: black;
  margin: 10px 15px 30px 15px;
}
.rightMenu .mdl-tabs__tab-bar a {
  width: 100%;
}
.mdl-layout__header-row .mdl-menu__container {
  position: fixed;
}
.mdl-layout__header-row .mdl-menu__container.is-visible {
  position: absolute;
}
.mdl-layout__content.page {
  overflow-x: auto;
}
#menu_dateStart {
  padding-left: 23px;
}
#arm-content {
  padding: 10px 20px;
}
.content .listprms {
  display: inline-block;
  overflow: hidden;
  text-align: left;
}
.content .listprms .list {
  float: left;
  overflow: hidden;
  margin: 0 20px 0 0;
}
.content .listprms .params {
  float: left;
  overflow: hidden;
}
.content .listprms .params .button {
  text-align: right;
}
.filters_items > div {
  margin-right: 10px;
}